$important: #EB5757;
$regular: #219653;
$unimportant: #2D9CDB;
$completed: #888888;
$grey: #828282;
$black: #000000;
$background: rgba(111, 207, 151, 0.39);
$background-desc: #F2F2F2;
$background-desc-header: #2F80ED;